<h1> Edit <%= @sub.title %></h1>

<%= flash[:errors] %>

<form action="<%= user_subs_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="patch">
<label>Title:
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
</label>
<br>
<label>Description: <br>

   <textarea name="sub[description]" id="" cols="30" rows="5"> <%= @sub.description %> </textarea>
   </label>
<br>
<input type="submit" value="Update Sub!">

</form>